[submodule "themes/blueidea"]
	path = themes/blueidea
	url = https://github.com/nasskach/pelican-blueidea.git
[submodule "themes/nest"]
	path = themes/nest
	url = https://github.com/molivier/nest.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
